- WorkDay.create_or_update_upto(@employee, Date.today.end_of_month)

.row-fluid
  .span12
    = render 'timesheets/show', :work_days => @employee.work_days.where(:date => current_month_period(:by_period))
