- @activities = resource.activities
- if @activities.empty?
  = boot_alert(t('activities.alerts.empty'))
  .activities.collection

- else
  = render 'activities/list', :collection => @activities unless @activities.empty?
