- WorkDay.create_or_update_upto(@employee, Date.today.end_of_month)

.row
  .span8

    = render 'timesheets/show', :work_days => @employee.work_days.where(:date => range)

  .span4
    = render 'timesheets/pager'
