- @activities = resource.activities.where(:date => current_month_period(:by_period)).by_project_id(params[:by_project_id])
- if @activities.empty?
  = boot_alert(t('activities.alerts.empty'))
  .activities.collection

- else
  = render 'activities/list', :collection => @activities unless @activities.empty?

.form-actions
  = icon_link_to :new, new_person_activity_path(resource)
