%table.zebra-striped{:class => "#{collection.first.class.to_s.downcase.pluralize} collection"}
  %thead
    %tr
      %th= t_attr :name
      %th= t_attr :client
      %th= t_attr :duration
      %th.action-links

  %tbody
    =render collection
