%table.table.table-striped.activities.collection
  %thead
    %tr
      - [:date, :person, :project, :duration].each do |attr|
        %th= t_attr(attr, Activity)
  %tbody
    = render collection

= render 'activities/sidebar'
