$('#new_<%= resource.class.name.underscore %>').remove();
var form = '<div id="new_activity_dialog"><%=j render "form" %></div>';
$('#<%= resource.class.name.tableize %>_list').before(form);
$('#new_activity_dialog').dialog();

initializeBehaviours();
